@import '../../themes/colors.css';

#Home {
    margin: 0 auto;
    padding-top: 1.5rem;
    width: 85%;
}

#Home h1, #Home h3 { padding-bottom: 0.6rem; }

#Home h1 {
    font-size: 4rem;
    margin-bottom: 0;
    letter-spacing: 5px;    
}

#Home h3 {
    font-size: 1.1rem;
    font-weight: normal;
    width: 37%;
}

#seeWorksBtn{
    width: fit-content;
    background-color: var(--lead-blue);
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    box-shadow: 4px 4px 0px white;
    transition: 1s;
}

#seeWorksBtn:hover{
    transition: 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 2px 0px 150px white;
}

#seeWorksBtn:active{
    box-shadow: 2px 0px 100px var(--lead-blue);
}