.about-sect {
    margin: 0 auto;
    padding: 2rem;
    padding-top: 2rem;
    width: 69%;
}

.epi-link{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

@media (max-width: 1000px) {
    .about-sect{
        margin-top: 3rem;
        padding: 0;
        width: 80%;
    }

    #about_container{
        text-align: left;
    }
}

@media (max-width: 700px) {
    .about-sect{
        margin-top: 3rem;
        padding: 0;
        width: 90%;
    }
}

@media (max-width: 600px) {
    .about-sect{
        margin-top: 1rem;
    }
}