.back-btn {
    margin-left: 8rem;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    padding: 0.1rem 0 0.05rem 6px;
    font-weight: bold;
    background-color: transparent;
    color: rgb(175, 175, 175);
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
    transition: 0.2s;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    border-left: 1px solid rgba(255, 255, 255, 0.158);
}

.back-btn:hover {
    color: white;
    padding-left: 5px;
    border-left: 2px solid white;
}

.back-btn:active {
    outline: none;
    transition: 0.3s;
    color: white;
    padding-left: 1px;
    border-left: 5px solid rgba(255, 255, 255, 0.692);
}

.back-btn:focus {
    outline: none;
}