@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600&display=swap');

/*
https://meyerweb.com/eric/tools/css/reset/
*/

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,    /* POnoć dobra praktyka */
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 0.9rem;
  color: white;
  background-color: rgb(26, 25, 25);
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5 {
  font-family: 'Montserrat', sans-serif;
}

code {
  color: white;
  background-color: rgb(36, 36, 36);
}

active-nav-link {
  color: cadetblue;
}

header {
  display: flex;
  z-index: 9999;
  flex-direction: row;
  justify-content: space-between;
}

header div {
  flex-grow: 2;
}

nav {
  flex-grow: 5;
}

header select{
  flex-grow: 1;
  appearance: none;
  color: white;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  margin-left: 10rem;
  width: 20px;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

select::-ms-expand {
  display: none;
}

option {
  background-color: rgb(14, 14, 14);
}

option:hover {
  background-color: rgb(144, 241, 160);
}

option::selection:hover {
  background-color: rgb(36, 36, 36);
}

select::selection {
  background-color: rgb(36, 36, 36);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;  
}

section {
  height: 96vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  cursor: pointer;
  color: white;
}

nav a:hover{
  text-decoration: underline;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.loader img {  
  height: 3rem;
  width: 3rem;
}

.ProjectDetails{
  z-index: 200;
  position: absolute;
  width: 50vw;
  height: 120vh;
  padding-bottom: 10vw;
  padding-left: 3rem;
  right: -10vw;
  bottom: -10vh;
}

.projects-list-ul{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 250px 250px 250px;
  gap: 3px 3px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}

.project-list-element{  
  padding: 0.5rem;
  background-color: rgb(34, 34, 34);  
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .projects-list-ul  {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 285px 285px 285px;
    gap: 3px 3px;
    grid-template-areas:
      ". ."
      ". ."
      ". .";
  }
}

@media only screen and (max-width: 720px) {
  .projects-list-ul {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 220 220 220px;
    gap: 11px 3px;
    grid-template-areas:
      "."
      "."
      ".";
  }
}

.above-bg{
  position: absolute;
  z-index: 90;
  width: 130vw;
  height: 130vh;
  top: -10rem;
  left: -10rem;
  backdrop-filter: blur(10px);
}

.details-box{
  z-index: 1000;
  position: absolute;
  top: 30vh;
}

.close-btn{
  cursor: pointer;
  font-size: 2rem;
}

.close-btn:hover{ 
  transition: 0.3s;
}

nav a, a {
  text-decoration: none;
  color: white;
}


