@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600&display=swap');

@font-face {
  font-family: 'Coolvetica';
  src:  url('assets/fonts/coolvetica-rg.woff') format('woff'),
        url('assets/fonts/coolvetica-crammed-rg.woff') format('woff'),
        url('assets/fonts/coolvetica-compressed-rg.woff') format('woff'),
        url('assets/fonts/coolvetica-condensed-rg.woff') format('woff')
}

/*
https://meyerweb.com/eric/tools/css/reset/
*/

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,    /* Ponoć dobra praktyka */
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --base-text: white;
  --faded-text: rgb(233, 233, 233);
  --base-blue: #0069f1;
  --base-bg: rgb(21, 21, 21);
  --lighter-blue: #1d92ff;
  --light-blue: #62b3ff;
}

body {
  font-size: 0.9rem;
  color: var(--base-text);  
  background-color: var(--base-bg);
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h4,h5 {
  font-family: 'Coolvetica', sans-serif;
}

h1 {
  font-size: 6rem;
  margin-bottom: 0;
  letter-spacing: 5px;
  text-shadow: -7px -0px 0px var(--base-blue);  
  animation: moveShadow 7s infinite alternate;  
}

@keyframes moveShadow {
  from {
    text-shadow: 20px 20px 600px var(--base-text);    
  }

  90%{
    text-shadow: 2px -0px 200px var(--lighter-blue);
  }

  to {
    text-shadow: 2px -0px 100px var(--lighter-blue);
  }
}

.logo{
  width: 90px;
  height: 90px;
  background-color: var(--base-blue)
}

.lang-select-wrapper{
  width: 90px;
  background-color: var(--base-blue)
}

h3 {
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

active-nav-link {
  color: cadetblue;
}

header {
  width: 97%;
  border-top: 2px solid var(--base-blue);
  display: flex;
  z-index: 9999;
  flex-direction: row;
  justify-content: space-between;
}

header div {
  flex-grow: 2;
}

.Home h3 {
  margin-top: 1.7rem;
  font-size: 0.95rem;
  font-weight: 500;
  width: 45%;
}

nav {
  flex-grow: 5;
}

header select{
  flex-grow: 1;
  appearance: none;
  color: var(--base-text);
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  margin-left: 10rem;
  width: 20px;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

select::-ms-expand {
  display: none;
}

option {
  background-color: rgb(14, 14, 14);
}

option:hover {
  background-color: rgb(144, 241, 160);
}

option::selection:hover {
  background-color: rgb(36, 36, 36);
}

select::selection {
  background-color: rgb(36, 36, 36);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;  
}

section {
  height: 96vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  cursor: pointer;
  color: white;
}

.Home{
  width: 80%;
  margin: 0 auto;
}

nav a {  
  text-transform: uppercase;
  font-weight: lighter;
  transition: 0.5s;
  background-color: var(--base-blue);
  padding: 7px 20px 3px 24px;
  border-bottom: 4px solid var(--base-blue);
  border-right: 4px solid var(--base-blue);
}

nav a:hover{
  background-color: white;
  color: black;  
  border-bottom: 4px solid var(--base-blue);
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.loader img {  
  height: 3rem;
  width: 3rem;
}

.ProjectDetails{
  background-color: var(--base-bg);
  z-index: 200;
  position: absolute;
  width: 70vw;
  height: 120vh;
  padding-bottom: 10vw;
  padding-left: 3rem;
  right: -10vw;
  bottom: -10vh;
  animation: slideAndFadeInDetails 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes slideAndFadeInDetails {
  from { color: #0068f100; right: -60vw; }
  to { color: var(--base-blue); right: -10vw; }
}

.projects-list-ul{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 250px 250px 250px;
  gap: 3px 3px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}

.project-list-element{  
  padding: 0.5rem;
  background-color: var(--base-bg);
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .projects-list-ul  {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 285px 285px 285px;
    gap: 3px 3px;
    grid-template-areas:
      ". ."
      ". ."
      ". .";
  }
}

@media only screen and (max-width: 720px) {
  .projects-list-ul {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 220 220 220px;
    gap: 11px 3px;
    grid-template-areas:
      "."
      "."
      ".";
  }
}

.above-bg{
  position: absolute;
  z-index: 90;
  width: 130vw;
  height: 130vh;
  top: -10rem;
  left: -10rem;
  background-color: var(--base-blue);
  animation: slideInAboveBg 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes slideInAboveBg {
  from { top: -90rem; }
  to { top: -10rem;  }
}

.details-box{
  z-index: 1000;
  position: absolute;
  top: 15vh;
}

.close-btn{
  cursor: pointer;
  font-size: 2rem;
}

.close-btn:hover{ 
  transition: 0.3s;
}

nav a, a {
  text-decoration: none;
  color: var(--base-text)
}

.cross {
  cursor: pointer;
  height: 40px;
  width: 40px;
  position: relative;
  box-sizing: border-box;
  line-height: 50px;
  display: inline-block;
}

.cross:before, .cross:after {
  transform: rotate(-45deg);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -25px;
  display: block;
  height: 6px;
  width: 50px;
  background-color: var(--base-blue);
  transition: all 0.25s ease-out;
  animation: rollInCross 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.cross:after {
  transform: rotate(-135deg);
  animation: rollInCross2 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes rollInCross {
  from {
    transform: rotate(45deg);
    background-color: white;
  }
  to {
    background-color: var(--base-blue);
  }
}

@keyframes rollInCross2 {
  from {
    transform: rotate(135deg);
    background-color: white;
  }
  to {
    background-color: var(--base-blue);
  }
}

.cross:hover:before, .cross:hover:after {
  transform: rotate(0deg);
  background-color: white; 
}

/*# sourceMappingURL=x-anim.css.map */

.show-works-link {
  font-size: 1.8;
  width: fit-content;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: var(--base-blue);
  transition: 0.5s;
  box-shadow: 3px 3px white;
  animation: homeLinkSlideInShadow 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes homeLinkSlideInShadow {
  from { box-shadow: -3px -3px var(--base-blue); }
  to { box-shadow: 3px 3px white; }
}

.show-works-link:hover {
  color: var(--base-bg);
  background-color: var(--base-text);
  box-shadow: 3px 3px var(--base-blue);
}

.stars-bg{
  transform: rotate(15deg);
  transform: scale(1.3);
  position: absolute;
  top: 5rem;  
}

.stars-bg{
  z-index: -1000;
  animation: movePageBg 7s infinite alternate;
}

.stars-bg2{
  z-index: -900;
  transform: rotate(-70deg);
  left: -12vw;
  width: 180%;
  height: 180%;
  position: absolute;
  animation: movePageBg2 7s infinite alternate;
}

@keyframes movePageBg {
  from { transform: rotate(15deg);}
  to { transform: rotate(18deg); scale: (1.5);}
}

@keyframes movePageBg2 {
  from { transform: rotate(-70deg);}
  to { transform: rotate(-73deg);}
}
