body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

active-nav-link {
  color: cadetblue;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(161, 235, 238);
}

header div {
  flex-grow: 2;
}

nav {
  flex-grow: 5;
}

header select{
  flex-grow: 1;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

nav a:hover{
  text-decoration: underline;
}

.loader img {  
  height: 3rem;
  width: 3rem;
}
