
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Gugi&family=Roboto:wght@100&family=Work+Sans:wght@200;300;400;600&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    color: white;
    background-color: rgb(26, 26, 26);
    font-size: 1.1rem;
    padding-right: 4px;
    overflow-y: scroll;
}

.top-const-margin {
  margin-top: 0.5rem;
  margin-bottom: 0.9rem;
}

.biggest-header {
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
  font-weight: lighter;
}

section {
    position: static;
}

.page-blur {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -50;
}

/* REMOVES DEFAULT BROWSER-SPECIFIC STYLING: */
input, button, textarea{
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
}

#video_bg {
    position: fixed;
    right: 1;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    overflow-x: hidden;
}

main {
    width: 98%;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 0.5rem;
    padding: 2rem;
    padding-top: 0.4rem;
}

.gradient-line {
    width: 60%;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 0;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

a,
.guide-btn {
    text-decoration: none;
    color: rgb(172, 172, 172);
    transition: 0.3s;
}

a:hover,
.guide-btn:hover {
    color: rgb(255, 255, 255);
}

a:active,
.guide-btn:active {
    transform: scale(1.1);
    transition: 0.05s;
    text-decoration: none;
    color: rgb(134, 134, 134);
}

:root {
    --animate-duration: 1500ms;
    --animate-delay: 1s;
}

p {
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: center;
}

h2,
h1 {
    font-size: 2rem;
}

h1{
    text-align: center;
}


@media (max-width: 1000px) {
    main{
        width: 99%;
        padding: 0.3rem;
        margin: 0;
    }

    .page-blur {
        background-color: rgba(0, 0, 0, 0.73);
        backdrop-filter: blur(1px);
    }
    
    .gradient-line {
        width: 90%;
    }
}

@media (max-width: 800px) {
    #video_bg{
        display: none;
    }

    .back-btn {
        display: none;
    }
    
    body{
        background-image: url('components/assets/background/media_bg.jpeg');
        background-attachment: fixed;
        background-size: cover;
    }

    section {
        margin-top: 2rem;
    }
}

@media (max-width: 600px){
    main{
      padding-top: 3rem;
    }

    p {
        font-size: 0.95rem;
        font-weight: lighter;
        text-align: center;
    }
    
    h2,
    h1 {
        font-size: 1.6rem;
    }
}


/* STYLES FOR HAMBURGER MENU */

.hamburger {
    cursor: pointer;
    display: block;
    width: 50px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    padding: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    padding-top: 0.7rem;
  }
  
  .burger-nav {
    top: 0;
    left: 0;
    z-index: 9999;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    /*
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    */
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .nav-ul-wrapper {
    width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed;
  }
  .burger-nav.active {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .burger-nav ul {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;
  }
  .burger-nav li {
    list-style-type: none;
    text-align: center;
    padding: 10px;
    font-size: 2em;
  }
  .burger-nav li, .burger-nav li a {
    color: #fff;
  }
  .burger-nav li a {
    text-decoration: none;
  }


.hamburger__icon {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    width: 30px;
    height: 40px;
  }
  
  .hamburger__icon div {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ffffff;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #line1 {
    top: 7px;
  }
  
  #line2 {
    top: 15px;
  }
  
  #line3 {
    top: 23px;
  }
  
  .hamburger__icon.open #line1 {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  .hamburger__icon.open #line2 {
    opacity: 0;
    left: -60px;
  }
  
  .hamburger__icon.open #line3 {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  .burger-nav-list-el{
      font-weight: lighter;
      padding-top: 0rem;
      padding-bottom: 1.4rem;
      font-size: 1.9rem;
  }

  .burger-nav-list{
      margin-top: 0rem;
      padding-top: 0;
  }


/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:hover {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #0000008a;
}

::-webkit-scrollbar-thumb {
  background: rgb(85, 85, 85);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(167, 167, 167);
}

