@import '../../themes/colors.css';


#About {
    margin: 0 auto;
    padding-top: 1.5rem;
    width: 85%;
}

.skill-count{
    display: inline-block;
    font-weight: bolder;
    margin-left: 0.2rem;
    color: var(--lead-blue);
}

#skillsList{
    padding-top: 0.2rem;    
    width: 100%;
    margin-left: 10rem;
}

.about-wrapper {
    align-items: top;
    display: flex;
}

.skill{
    cursor: default;
    font-size: 1.2rem;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 1rem;
    border-radius: 50px;
    text-align: center;
}

.skill:hover{
    padding: 1rem;
    padding-left: 2rem;
    transform: scale(1.3);
    color: var(--lead-blue);
}